In [ ]:
# Analise de Dados:
#somar as colunas:

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('resultadoevasao.csv', sep=";")

In [3]:
#exibir a tabela de forma mais organizada
display(df)

,cod_coordenacao_regional,coordenacao_regional,cod_escola,escola,cod_curso,curso,cod_serie,serie,cod_turno,turno,cod_turma,turma,cod_aluno,situacao
0,14,CRE - Santa Maria,191,CENTRO DE ENSINO FUNDAMENTAL SARGENTO LIMA,5,Ensino Fundamental de 9 Anos,28,3º Ano,5,Diurno,105.348,3° ANO A,6.110.703.617.686.867.203,aprovado
1,8,CRE - Núcleo Bandeirante,67,Centro de Ensino Médio 01 do Riacho Fundo I,6,Ensino Médio,21,2ª Série,5,Diurno,101.947,2ª SÉRIE J,8.517.953.052.530.183.278,aprovado
2,7,CRE - Guará,64,CENTRO DE ENSINO FUNDAMENTAL 02 DO GUARÁ,5,Ensino Fundamental de 9 Anos,8,6º Ano,5,Diurno,101.873,6º EF9 D,-3.913.406.513.528.128.244,aprovado
3,3,CRE - Plano Piloto e Cruzeiro,269,CENTRO DE ENSINO MÉDIO ASA NORTE - CEAN,6,Ensino Médio,20,1ª Série,5,Diurno,106.573,1ª SÉRIE B,-995.001.428.433.090.536,"aprovado, com dependência"
4,16,CRE - Recanto das Emas,144,CENTRO DE ENSINO FUNDAMENTAL 115 DO RECANTO DA...,5,Ensino Fundamental de 9 Anos,30,5º Ano,5,Diurno,104.190,5ºC,-2.491.160.604.003.972.199,aprovado
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531749,12,CRE - Samambaia,586,CAIC AYRTON SENNA,2,Educação Infantil,35,1º Período,5,Diurno,113.799,1° PA,-8.729.428.439.065.296.182,aprovado
531750,16,CRE - Recanto das Emas,588,CENTRO DE EDUCAÇÃO INFANTIL 304 DO RECANTO DAS...,2,Educação Infantil,35,1º Período,5,Diurno,113.863,1ºP-F INV 2017,-3.845.307.045.859.721.526,aprovado
531751,16,CRE - Recanto das Emas,588,CENTRO DE EDUCAÇÃO INFANTIL 304 DO RECANTO DAS...,2,Educação Infantil,35,1º Período,5,Diurno,113.879,1ºP-A 2017,3.120.340.042.112.525.587,aprovado
531752,16,CRE - Recanto das Emas,588,CENTRO DE EDUCAÇÃO INFANTIL 304 DO RECANTO DAS...,2,Educação Infantil,36,2º Período,5,Diurno,113.876,2ºP-E 2017,2.128.731.714.661.078.718,aprovado
531753,7,CRE - Guará,605,ESCOLA CLASSE 01 DA VILA ESTRUTURAL,2,Educação Infantil,35,1º Período,5,Diurno,114.201,1ºPE B,8.374.948.758.652.225.819,aprovado

In [9]:
#df.describe()

# Passo 2 - Analisar a base de dados
Temos o codigo da escola, nome da escola, curso, turma, situacao....

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531754 entries, 0 to 531753
Data columns (total 14 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   cod_coordenacao_regional  531754 non-null  int64
 1   coordenacao_regional      531754 non-null  object
 2   cod_escola                531754 non-null  int64
 3   escola                    531754 non-null  object
 4   cod_curso                 531754 non-null  int64
 5   curso                     531754 non-null  object
 6   cod_serie                 531754 non-null  int64
 7   serie                     531754 non-null  object
 8   cod_turno                 531754 non-null  int64
 9   turno                     531754 non-null  object
 10  cod_turma                 492405 non-null  float64
 11  turma                     492405 non-null  object
 12  cod_aluno                 531754 non-null  object
 13  situacao                  531753 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 56.8+ MB

In [ ]:
df2=df['curso']

# Qual a situação dos alunos?
### Quantos foram aprovados?
### Quantos foram transferidos?
### Quantos foram reprovados?
### Quantos deram abandono?

In [8]:
df['situacao'].value_counts()

aprovado                         332427
transferido                      102800
reprovado                         44605
aprovado, com dependência         23652
em andamento                      10556
matrícula inativada                9821
abandono                           5427
em processo                        1657
em andamento, com dependência       437
avanço de estudos                   269
temporalidade                       102
Name: situacao, dtype: int64

In [ ]:
qtde_matriculas =